@font-face {
	font-family : "partybusiness";
	src : url('./assets/fonts/partybusiness.ttf');
}

@font-face {
	font-family : "aniron"; 
	src : url('./assets/fonts/anicb___.ttf');

}

@font-face {
	font-family : "tengwar";
	src : url('./assets/fonts/tngan.ttf');
}

*{
    box-sizing: border-box;
}

body {
    font-family : "partybusiness"; 
}

.font-title {
    font-family : "aniron";
    
}

.font-deco {
	font-family : "tengwar"; 
}

.bg-noir {
	background-image : url(./assets/bg_dark.png); 
}

.portrait {
	position : relative;
	border : 5px solid black;
}

.portrait:hover .reward {
	opacity : 0;
}

.bg-orange {
	background-color : #FE661D;
}

.bg-white {
	background-color : white;
}

.bg-gris {
	background-color : #DDD; 
}


.text-orange {
	color : #FE661D;
}

.text-white {
	color : white;
}

.text-noir {
	color : black;
}

.text-gris {
    font-weight: bold;
    font-size: 30px;
	color : #DDD;
}

.name {
	position : absolute;
	width : inherit;
	font-size : 4em;
	color : white;
	bottom : 30%;
	left : 8%;
}

.portrait:hover .name {
	font-size : 2.5em;
	bottom: 5%;
	left : 25%;
}

.reward {
	position : absolute;
	background-color : rgba(255,255,255, 0.8);
	font-size : 2.5em;
	top : 5%;
	left : 2%;
	padding : 10px;
	border-radius : 15px; 
}

.dead {
	position : absolute;
	font-size : 2.5em;
	top : 5%;
	left : 30%; 
}

.name-dead {
	text-decoration : line-through; 
}

header a {
    
	color : white;
}

footer a {
	color : white;
}

#hunted .actif {
	text-decoration : underline;
	color : #FE661D;
}

header .actif {
	text-decoration : underline;
}

#carouselExampleControls .carousel-caption {
    font-size : 3rem;
	margin-bottom : 1rem; 
}